.footer {
    font-size: 14px;
    color: black;
    text-align: center;
}

h1{
    text-align: center;
    font-weight: bold;
    font-size: 36px;
    }

h2{
    text-align: left;
    font-weight: bold;
    font-size: 28px;
}

h3{
    text-align: left;
    font-weight: bold;
    font-style: italic;
    font-size: 24px;
    }

h4{
    text-align: left;
    font-weight: bold;
    font-size: 22px;
    text-indent: 20px;
    }

h5{
    text-align: left;
    font-weight: bold;
    font-style: italic;
    font-size: 20px;
    text-indent: 20px;
    }

.about  {
    text-align: left;
    font-size: 16px;
    text-indent: 40px;}