    html {
      background-color: antiquewhite;
    }
    h1 {
      color: whitesmoke;
      background-color: darkseagreen;
    }
    h2 {
      color: #FAF8F1;
      background-color: #C58940;
    }

    .footer {
    font-size: 14px;
    color: black;
    text-align: center;
    }